[2021-01-20 08:04] clue commented on #214
This doesn't appear to be a high priority issue ever since we've updated the default to 8 KiB, but I still think it makes sense to expose this configuration.

I'm not sure what this could looks like tho. The `StreamingServer` is marked internal and I don't think this insignificant feature warrants exposing this class as part of our public API. Likewise, the `RequestHeaderParser` is also entirely i

[2021-01-21 08:23] CupOfTea696 commented on #396
@clue Is there no way to know which connection a request originated from? I feel like that would make this a whole lot less complicated. It also seems that using a timeout has the potential of closing the connection from the initial request before the response has been sent, which would be undesirable.

Actually, I'm not sure what you're saying is true. In my snippet, it will first close any conne

[2021-01-21 17:47] gitneko commented on #396
Actually there is! Just not the easy way.

The HTTP request instance contains the source ip and port (remote ip and port) and you need to listen on the socket server for new connections, where each connection instance also has a source ip and port. So you simply need to match these two together.

Basically
[code]
and for each request
[code]

[2021-01-22 10:43] mmoreram commented on #39
@clue is anyone working on this nowadays? I would live to help you with this development. Do you have any schedule for these small tasks?

[2021-01-22 18:25] CupOfTea696 commented on #396
@gitneko surely multiple connections cant come from the same ip and port?

[2021-01-22 18:36] gitneko commented on #396
@CupOfTea696 I've tested this before (some months ago when I implemented it) and each connection used a different source port (from the same ip).

[2021-01-25 06:49] clue commented on #396
@gitneko Excellent suggestion, thanks for chiming in! 👍

TCP/IP uses a tuple of source IP, source port, destination IP and destination port. In other words, this is always guaranteed to be unique for the lifetime of a connection, but may be reused at a later point in time :+1:

[2021-01-27 15:06] CupOfTea696 commented on #396
@gitneko @clue thanks, I'll try that out, that's a great suggestion!

[2021-02-24 19:55] mmoreram commented on #254
I found this issue, looking for exactly the same as @acasademont

I understand the purpose for bypassing an empty body when this is overflown, but by doing that, it's clearly impossible to detect when that happens. In my case, I'd like to limit the body size, and report a `413` when this body is overflown. So I still think that, and after reading all your comments, that allowing custom behavior wo

[2021-02-24 20:33] gitneko commented on #254
@mmoreram I'm not sure where you're coming from that it's impossible to detect. There are two possible "return types" that the request body buffer middleware has - either the request body is a PSR stream or a ReactPHP readable stream. If it's a ReactPHP readable stream, then the request body was clearly too large and you can throw HTTP 413.

All you need to do is to provide a middleware after the

[2021-02-25 07:29] clue commented on #254
@gitneko That's an interesting find! Note that you're relying on undocumented behavior here, the fact that this currently seems to return a specific body instance is undocumented and may change in the future.

@mmoreram I agree that this can be useful for some use cases. Afaict this should also be possible from within a dedicated middleware handler similar to what @gitneko suggested, so I don't th

[2021-02-27 18:25] mmoreram commented on #254
Thanks @clue and @gitneko for your explanation :)

[2021-04-10 21:48] #39 closed

[2021-06-16 11:40] mityukov opened #408 "Returning Promise doesn't make Server any faster"
Hi, can't fire out how to make server "parallel".

Here's the code:
[code]

Now, in tinkerwell (Laravel tool for running arbitrary commands):
[code]
(I've tried `wrk` — same story…)

**Expectations:** that `dump(microtime(true));` will display very close values four times, and after approx 1 seconds all the responses will be served;

**Observed behavior:** no next requests starts before the previo

[2021-06-17 07:21] d0niek commented on #408
`sleep()` function is blocking function so it block your event loop. I think you should use this one https://github.com/reactphp/event-loop#addtimer to emulate "something long"

[2021-06-17 08:22] mityukov commented on #408
I just thought that "a real operation" would also be blocking (in my case, it would be a synchronous Laravel Http client performing request to another service). My question is: why doesn't the webserver take a new request immediately after returning a promise?

[2021-06-20 21:17] WyriHaximus commented on #408
Even better, use: https://reactphp.org/promise-timer/#resolve

Assuming you are not doing anything blocking; it does.

[2021-07-06 11:27] olegbaturin opened #409 "HTTP Client: Redirect with 307 (Temporary Redirect) should keep original request method and body"
As it stated at [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/307)
_The method and the body of the original request are reused to perform the redirected request._

But [here](https://github.com/reactphp/http/blob/bc537273d11ee769c723a830e63aa33c0c35a530/src/Io/Transaction.php#L265) request is converted from POST to GET.

[2021-07-06 12:31] olegbaturin commented on #388
Hi. [This](https://github.com/clue/reactphp-buzz/issues/129) is my issue added some years ago and a fast durty solution is to add the latest request object to response: look [here](https://github.com/olegbaturin/http/commit/ce567316ecbd4cd0b6d658698d41247264d909e6#diff-49dcde15a17d64040cda4d5e9739c691eddfe05d7e1f31dec32cad5f5ce37554).

[2021-07-06 16:29] mityukov commented on #408
If I'm using GuzzleHttp inside `doMakeRequest` — will it be blocking?

[2021-07-06 19:06] WyriHaximus commented on #408
Most likely yes, have a look at: https://reactphp.org/http/#client-usage

[2021-07-10 10:15] quazardous opened #411 "[support] LimitConcurrentRequestsMiddleware vs stream body response"
I'm using response with streamed body as explained here https://github.com/reactphp/http#streaming-outgoing-response

I'm not sure LimitConcurrentRequestsMiddleware knows how to handle response with streamed body:

[code]

So even if the stream is still alive it is not counted as "Concurrent", right ?

[2021-07-12 20:22] HLeithner opened #412 "64KiB Server request limit"
It seems the server has a hardcoded 64KiB limit. This isn't actually a problem because it should be possible to override it at least that's what the comment says at
https://github.com/reactphp/http/blob/master/src/Server.php#L180
But if I read the code correctly it's not possible to override this 64 KiB limit.
Looking at https://github.com/reactphp/http/blob/master/src/Server.php#L335 the limit wi

[2021-07-12 20:29] WyriHaximus commented on #412
Hmm you might actually be right. Will have a look why this slipped past our tests and how to fixed it in both the code and tests 👍

[2021-07-12 20:38] HLeithner commented on #412
While debugging this it was hard to find out why I got an empty body, may it would sense to set an attribute to the request when the body is truncated?

[2021-07-18 14:32] carliedu opened #413 "Response method withou "else""
Forget. I discovered that it is a normal situation.
CLOSE it.

[2021-07-18 20:41] #413 closed

[2021-07-19 16:17] quazardous opened #414 "[http] Link between Connection layer and Request handler"
Hi,

I'm using this kind of code to handle connection timeouts

[code]

It's working OK. But for some GET request with long results (search) I've to cancel the timer from the request handler (because it  timeouts).

But I don't know how to connect the two worlds...

[2021-07-19 16:25] WyriHaximus commented on #414
We do, what you're looking for are connection and request timeouts. We have this feature planned for a future release.

[2021-07-19 16:58] quazardous commented on #414
Nice to know.

That said, it would be nice to be able to pass data along connection to request.

Connection could have attributes. And connection could be injected in the request. Or exposing the 'headers' event that knows the 2 objects.

[2021-07-20 08:22] WyriHaximus commented on #414
What is your use case for that? You have indirect access to all properties on the connection in the PSR-7 request.

[2021-07-20 09:40] quazardous commented on #414
I've created a pseudo stream around mongodb cursor using the function futurTick() to allow the loop to retake controle.
So it's a get request that stream a long response and gives back the hand to the loop every 1000 rows so the server can handle other incoming request. Of course there is no reading on the incoming request and the onData trick to cancel the timer does note work. So I'd like to pas

[2021-07-23 07:41] lphwxl opened #415 "Uncaught InvalidArgumentException: Invalid request handler given"
`
// 日志中间件
$loggingMiddleware = function(Psr\Http\Message\ServerRequestInterface $request, callable $next) {
    echo date('Y-m-d H:i:s') . ' ' . $request->getMethod() . ' ' . $request->getUri() . PHP_EOL;
    return $next($request);
};

$routeMiddleware = function (Psr\Http\Message\ServerRequestInterface $request) {
    return new React\Http\Message\Response(
        200,
        array(

[2021-07-23 10:11] WyriHaximus commented on #415
As of `1.0` the server no longer accepts an array of middleware/handlers but expects them to be passed in directly. If you change:

[code]

To:

[code]

It will work

[2021-07-23 12:31] #415 closed

[2021-07-24 17:00] quazardous opened #416 "[http] pre-shutdown: how to refuse new connection while finishing on going stuff"
hi,

I'm wondering how I can tell the server to stop listening and opening new connection but to finish ongoing request.

I want to gracefully stop/start each servers and let the loadbalancer know that this server is down (refuse new connection).

just calling `$loop->stop()` ?

[2021-07-24 17:08] WyriHaximus commented on #416
Use the [`React\Socket\Server::close`](https://reactphp.org/socket/#close) method for that. That will make your application stop listening for any new connections but still handle any ongoing.

[2021-07-25 18:43] clue commented on #416
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can always reopen this :+1:

(Also refs #396 for a similar use case.)

[2021-07-25 18:43] #416 closed

[2021-07-25 18:47] clue commented on #409
@olegbaturin Thanks for reporting, I agree this is something that should be supported by this project :+1:

PRs to address this very much welcome! :shipit:

[2021-07-25 18:53] clue commented on #408
The promise API helps making async code easier, a promise doesn't make anything "faster" by itself.

In your case, you want to use non-blocking primitives to avoid blocking the server and allow concurrent execution. As @WyriHaximus pointed out, instead of sleeping, you would want to use a timer that triggers any following logic at a later time. The promise API helps with making this more manageabl

[2021-07-25 18:53] #408 closed

[2021-07-25 18:59] clue commented on #411
@quazardous Your observation is correct, this is indeed by design.

The `LimitConcurrentRequestsMiddleware` is designed to limit "pending" requests by keeping track of pending promises from the next request handlers. As soon as the request handler returns a response (or fulfills a promise with a response), it will no longer be considered "pending". This happens irrespective of whether the response

[2021-07-25 19:05] clue commented on #414
@quazardous Thanks for bringing this up. I'm not sure I follow exactly what you're trying to achieve here, can you elaborate and/or provide a gist?

Your last gist implements a `ReadableStreamInterface`. This can be used as a response body using the existing APIs as described here: https://github.com/reactphp/http#streaming-outgoing-response

https://github.com/reactphp/http/issues/324 discusses a

[2021-07-25 19:09] clue commented on #412
@HLeithner Thanks for bringing this up. There is indeed a default 64 KiB limit as described in the documentation.

I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can always reopen this :+1:

[2021-07-25 19:09] #412 closed

[2021-07-25 19:44] quazardous commented on #411
Hi,

I'm building an API that deals with input and output ndjson feeds that can be quite large.

The API generate response with streaming body so the stream can last long after the response was processed.

For now I've created some kind of lock mechanism with my business central server object (just an array of spl_hash()) to keep track of the number of long stream.

It's called at the beginning of

[2021-07-25 20:22] HLeithner commented on #412
@clue please look again on the linked code lines, there are 2 bugs in React\Http\Server

1. in the documentation that you could override RequestBodyBufferMiddleware which is actually not true.
2. in getMaxRequestSize which has a broken if statement.

[2021-07-25 20:43] clue commented on #412
Have you checked my above code snippet? This should be covered by the existing test suite. Note that this requires a `StreamingRequestMiddleware` as given above.

Can you elaborate? This has 100% code coverage, but if you feel a specific case isn't covered adequately, perhaps add an additional test case? :+1:

[2021-07-25 21:05] HLeithner commented on #412
Ok I missed the Streaming Middleware but it looks like a shady workaround.

I checked the documentation about the `post_max_size` ini were 64KiB capped is intended. I'm not sure why I'm not allowed to shoot my self in the foot by specifying a bigger ini setting then 64KiB especially when there is a documentation I can do it working around the well tested code.

But yes you are right the function d

[2021-07-25 21:27] clue commented on #412
I understand where you're coming from, but from experience I would argue that this works *good enough*. If you feel there's any way to improve this, PRs are very much appreciated! :+1:

I understand where you're coming from and I think we agree that defaults should be *sane*. However, the `post_max_size` is really designed for a non-concurrent execution and for obvious reasons doesn't take into ac

[2021-07-25 21:32] HLeithner commented on #412
I see Limiting can be improved on all layers also looking at #411

Thanks for you time and we will see what the future brings, maybe some more dynamic limiting Middleware which can automatically balance between requests and size and maybe park requests or deny them based on server load.

[2021-07-25 21:39] clue commented on #412
Agreed, see also #255 if you're looking for ways to contribute to this project :+1:

[2021-07-26 07:13] quazardous commented on #414
I'll try to reformulate.

The way the read timeout is working depends on (real) streams that the loop can check on.
[code]

But in case of non stream request (Like GET)

[code]

What I need is a way to profile the timeouts at runtime because I handle different type of request:
- Request A: (Real) Stream to (Real) Stream -> boring
- Request B: Very short classic GET -> boring
- Request C: Very long

[2021-07-26 12:09] quazardous commented on #396
@gitneko hi,

I've linked the connection and request doing some tweaks with the `on('headers')` event

https://github.com/reactphp/http/issues/414#issuecomment-883252633

[2021-07-29 09:30] quazardous commented on #411
On another front, when creating long streamed response using tick/timers, I've faced huge memory rise when testing in production.

I realized that given a slower network, somehow the internal stream pipe was using more and more memory. It's logical, the fake stream was fast looping and creating data, while the piped through stream could not send those data fast enough to the network. So it was gro

[2021-08-12 11:03] zmitic commented on #401
@clue  Question about this:

For reference, I am using https://github.com/Bocmah/psalm-reactphp-promise-plugin/blob/main/stubs/PromiseInterface.phpstub and have no problems with psalm on level 1 but there is just 1 templated param.

Stub for await also gives me correct return type:

[code]

[2021-08-13 13:24] clue commented on #411
@ReactPHP supports throttling streaming data (backpressure), but it sounds like your implementation may not take advantage of this at the moment?

As per https://github.com/reactphp/http#streaming-outgoing-response, you may return any `ReadableStreamInterface` as the body of your response. If it emits any data, it will automatically be sent as part of the HTTP response body over the transport conn

[2021-08-13 13:24] #411 closed

[2021-08-13 13:28] clue commented on #414
The incoming response is indeed buffered by default to make it compatible with PSR-7. As per https://github.com/reactphp/http#streaming-incoming-request, you can explicitly stream the incoming response as well. In this case, you would have full control over managing the incoming stream and any timeouts yourself.

Other that that, I believe this has been answered, so I'm closing this for now. Pleas

[2021-08-13 13:28] #414 closed

[2021-08-16 19:06] wnuQq opened #421 "Cannot handle timeout in a clean way"
It looks like this library is not giving any solution to handle timeout in its own way.
When I create a browser using ->withTimeout and request will hit my timeout value I will get RuntimeException. It would be great if some kind of TimeoutException would be thrown there.

[2021-08-16 20:10] wnuQq commented on #421
Resolved in https://github.com/reactphp/http/pull/407

[2021-08-16 20:10] #421 closed

[2021-10-15 21:46] scottw-finao opened #428 "how to save an upload?"
Scouring through the documents and videos, I can't seem to find a simple example of how to save a file upload. I've tried mulitple examples I see and none worked. I took some guesses and got one to save using getContents() but it doesn't seem to work on larger files.

I see other sources that say to save stream data you use stream_copy_to_stream but when i take UploadedFile()->getStream() as the i

[2021-10-20 09:41] SimonFrings commented on #214
Is this issue still relevant, it looks like the original concern has been resolved, or am I overlooking something?

Reference: I am currently going through all issues and pull requests in react to see if they're still open for discussion or got resolved in the meantime.

[2021-11-05 10:21] clue commented on #214
I'm closing this for now as it hasn't received any input in a while and I believe this has been resolved in the meantime. If you feel this is still relevant, please come back with more details and we can always reopen this :+1:

Thank you for your effort nonetheless, keep it up! :+1:

[2021-11-05 10:21] #214 closed

[2021-12-22 07:11] quazardous commented on #319
I've got

[code]

Cannot create issue in `ringcentral/psr7`, so I put it there for now.

[2021-12-22 10:39] clue commented on #319
@quazardous This seems unrelated, may I ask you to file a separate ticket to discuss this in more detail? In particular, make sure to list what steps you did perform to raise this error.

[2021-12-23 09:14] quazardous commented on #319
The relation is the state of maintenance of `ringcentral/psr7`. I'll create a new issue.

[2021-12-23 09:22] quazardous opened #435 "Deprecation warning in ringcentral/psr7"
I'm using the **http** server with a Synfony 5.4 bootstrap.

SF tracks deprecated stuff (I don't know exactly how).

I've this message

[code]

Issues can not be created in the forked repo so I open it there (cf #319).

my phpstan is also complaining about `ringcentral/psr7`

[code]

It's only phpDoc stuff but in my version upgrade flow I try to eliminate all deprecation issue ASAP.

[2022-01-11 09:06] Hast opened #436 "Overriding HttpServer::MAXIMUM_BUFFER_SIZE"
Hello. I just upgraded from 0.8.7 to 1.5.0. Before the upgrade, we could accept requests up to 10MB. But now all the requests are always being cut. The problem is that `LimitConcurrentRequestsMiddleware` used to operate INI's `post_max_size` settings, and now it's limited by `HttpServer::getMaxRequestSize()`, and its result can not be higher than `HttpServer::MAXIMUM_BUFFER_SIZE`. Is there any wor

[2022-01-11 09:47] Hast commented on #436
Fixed by explicitly passing middleware objects to HttpServer:

[code]

[2022-01-11 09:47] #436 closed

[2022-01-12 20:27] bitgandtter opened #437 "outdated ringcentral psr pkg"
There is any real reason to keep using https://github.com/reactphp/http/blob/master/composer.json#L38 instead of the forked by the same project guzzle pkg which seems to be more updated?

[2022-01-28 10:33] SimonFrings commented on #437
@bitgandtter thank you for the ticket, this has already been discussed in #331, take a look at @clue's answer, he did a good job at explaining the why/why not.

We're only using a small part of RingCentral so the plan is to drop this in a future version. Additionally, we want to build our own implementation that adds some more functionality we can use  (async implementations etc.).

I'm closing th

[2022-01-28 10:34] clue commented on #437
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can always reopen this :+1:

[2022-01-28 10:34] #437 closed

[2022-01-28 11:50] SimonFrings commented on #435
@quazardous thanks for bringing this up 👍

It seems like this problem isn't coming from the react/http component, a similar topic can be found here: ratchetphp/Ratchet#950.

We're only using a small part of RingCentral so the plan is to drop this in a future version. Additionally, we want to build our own implementation that adds some more functionality we can use (async implementations etc.).

If

[2022-01-28 11:51] clue commented on #435
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can always reopen this :+1:

[2022-01-28 11:51] #435 closed

[2022-01-28 12:41] bitgandtter commented on #437
The big issue is that the intention comes from 2018 4 years ago and the package is deprecated. We understand that there is not enough men power to develop a new package from the ground up which is ok but changing it from a well-implemented and maintained package like the guzzle one is just one line of code away. Not doing it put everyone using this project at risk besides other issues like not hav

[2022-01-28 15:31] clue commented on #437
@bitgandtter As much as I understand your frustration, I still fail to see the "big issue" you're trying to proclaim. This project is well maintained and actively developed and to the best of my knowledge there are no known issues beyond the outstanding feature requests that we keep track of in this issue tracker. You brought up a valid question with this ticket and I feel it is adequately answere

[2022-01-28 15:42] bitgandtter commented on #437
Thanks for your time and your hard work @clue. The thing is that the issue marked as closed is IMHO not accurate since the issue it's not been solved. The correct course of actions should be on of below:

1. hey we understand but we don't have the men power to address it, please create a PR or sponsor as you advised above
2. hey there is this other issue where we are tracking the same problem, we

[2022-01-28 15:51] clue commented on #437
You're welcome, glad you appreciate this!

I understand you're saying "the issue [has] not been solved", but allow me to be blunt, what issue are you seeing specifically?

This ticket is closed because it brought up a valid question that I believe is answered. I currently fail to see any issue beyond this.

[2022-01-28 16:06] bitgandtter commented on #437
The issue, and yes you are right that I open with a question; is that the ringcentral/psr7 lib is kind of unmaintained and with missing implemented methods vs the guzzle/psr7 which its actually the source of the ringcentral one. The guzzle/psr7 its fully implemented and maintained.

[2022-01-29 17:39] clue commented on #437
I agree that the PSR-7 implementation currently in use could use some love, but other than that I don't currently see much that would be gained by going with a different implementation. As discussed in #331 (and linked tickets), we're only really using a small subset of its functionality and already have to implement some custom async functionality on top of this, hence why we're slowly migrating

[2022-01-31 11:43] SimonFrings commented on #436
Hey @Hast, thanks for opening this up :+1:

It seems like you already found your way of dealing with this, a similar approach can be found inside the [documentation](https://github.com/reactphp/http#httpserver). You can also take a look at #371.

[2022-01-31 12:31] bitgandtter commented on #437
Just to mention one and for us a big one. The UploadedFile is not implemented which is on the original lib

[2022-01-31 13:27] clue commented on #437
Fair enough! We already (have to) implement an internal `UploadedFile` (#199) which we do not currently expose as part of our public API, so using either RingCentral or Guzzle makes no difference for internal usage.

If your code depends on an `UploadedFile` implementation, I would recommend adding a dependency on a package that exposes this API. Afaict there's nothing stopping you from using Guzz

[2022-01-31 14:12] bitgandtter commented on #437
It's not that easy as it seems. Yes we are doing it right now with a few workaround but there are lot of code that imho should not be on our side given that there are psr7 implementations that include them. What I don't really get its that the ring central lib it's not been maintained and it's forked from the guzzle which it's maintained and also fully implemented. That's why my initial proposal w

[2022-02-01 09:12] clue commented on #437
I agree, unfortunately it's never as easy as it may seem. For instance, Guzzle does not support the same PHP version range supported by this package at the moment (see #331 and #319), so we would have to update our version range which in turn would be considered a BC break. Note I'm not suggesting keeping old versions forever, but merely stating that we do care about our BC promise, so this requir

[2022-02-05 08:32] clue commented on #388
I agree that a custom interface would be best to also provide additional guarantees for type safety, documentation and IDE autocompletion. The problem with implementing a custom interface isn't really implementing the interface itself, but rather how to guarantee type safety. Take a look at following example, how would we ensure that we get a `RedirectedResponseInterface` (name subject to change)

[2022-02-05 09:11] clue commented on #428
@scottw-finao Thank you for this excellent question! This project does indeed support file uploads just fine (but there are a number of caveats, see below).

Here's the gist how to save uploaded files:

[code]

This example should work just fine, but loads the entire file into memory before writing it to the filesystem, see also https://github.com/reactphp/http#request-body and https://github.com/

[2022-02-05 09:11] #428 closed

[2022-02-07 12:17] clue commented on #388
@boenrobot I think we're talking about something along the lines of this?

[code]

I can definitely see some value in having this around. But then again, afaict this doesn't solve the original problem of exposing the effective URL, so this might be a bit off-topic at this point?

The linked ticket https://github.com/guzzle/guzzle/issues/1166 suggests a similar approach but ultimately implemented a

[2022-02-07 14:27] olegbaturin commented on #388
https://github.com/amphp/http-client/blob/master/src/Response.php

[2022-02-18 21:02] bileslaw opened #443 "HttpServer promise cancellation"
Hi there,

I know that `HttpServer` cancels the promise returned to it if the connection is closed prematurely.

My app streams large files using `Browser`, so logically this is very useful for me,
but here comes the difficulty when using [react/async](https://github.com/reactphp/async), since there's no cancellation.

It's quite hard for me to change the flow to make it work (it would be a mixtur

[2022-02-18 23:48] WyriHaximus commented on #443
This PR might interest you https://github.com/reactphp/async/pull/20 as it brings cancellation to `async` and `await` (inside `async`).

[2022-02-19 22:55] #443 closed

[2022-03-07 16:11] JustBeYou opened #445 "HTTP client: Support for handling cookies"
While I was trying to port some blocking libcURL code to ReactPHP I found there is no support for handling cookies when using the HTTP client. Inspired by other clients (especially cURL) I propose that the following features should be added:

- compliance with [HTTP State Management Mechanism](https://datatracker.ietf.org/doc/html/rfc6265) (expiration, send the cookie only to the corresponding dom

[2022-03-07 20:05] WyriHaximus commented on #445
The main reason I mentioned `react/cache` is so that other 3rd party packages can also provide storage: https://packagist.org/?query=react%20cache

<3!

[2022-03-10 10:42] clue commented on #445
@JustBeYou Excellent input, would love to see this in ReactPHP!

The HTTP `Set-Cookie` request headers and `Cookie` response headers are indeed supported just fine in ReactPHP, but there's no automatic behavior to make sense from them, so you'd have to "remember" the values somehow as suggested. Being able to turn this on and off makes perfect sense. The Cache component might indeed be a possible

[2022-04-04 12:41] divinity76 opened #447 "is React\Http\Message\Response::plaintext binary safe? how am i supposed to respond with binary data?"
lets say i want to respond "\x06\x00\xFF\xFFinfo" , how am i supposed to do that?
seems the documentation is not clear on whether  or not "Response::plaintext()" is binary-safe or not, and how one is supposed to respond with binary data..?

[2022-04-04 12:51] divinity76 commented on #447
nvm, yes it is binary safe.

[2022-04-04 13:42] clue commented on #447
@divinity76 Interesting question!

The `plaintext()` method expects a valid Unicode string encoded as UTF-8, as per the documentation: https://github.com/reactphp/http#plaintext

The string `\x06\x00\xFF\xFFinfo` is not valid UTF-8, so you probably shouldn't be using this method. The method itself is binary safe, but only guarantees to accept valid UTF-8. Future versions may reject and/or replace

[2022-04-04 13:42] #447 closed, assigned to nobody

[2022-04-11 11:51] clue opened #449 "HTTP client: Support passing default request headers"
Here's what this could potentially look like:

[code]

This isn't currently supported, but seems reasonable and would also allow other packages to take advantage of custom HTTP request headers. What do you think about this?

[2022-04-11 12:20] WyriHaximus commented on #449
Seeing this pattern in my own projects where I do this for the `Authorization` header. So lets add this 👍

[2022-04-14 04:46] bpolaszek opened #451 "Accessing the `Connection` object"
Hello there! 👋

I'm the maintainer of [Freddie](https://github.com/bpolaszek/freddie), a Mercure hub implementation leveraging Framework X and react/http - its job is mostly to broadcast Server-Sent Events.

Whenever a new request comes up, the request handler subscribes to a Redis channel and drops messages into the response body as soon as they come up. Problem is, whenever the connection closes

[2022-04-14 06:36] bpolaszek commented on #451
Nevermind - `ThroughStream` objects also emit `close` events, meaning I don't require to rely on the `Connection` object.

Other use case I had was to access `Connection::getRemoteAddress()` for some other purpose, but the remote address is exposed into `$request->getServerParams()`, so that makes my proposal unrelevant, as I currently don't see other use cases.

Sorry for polluting!

[2022-04-14 06:36] #451 closed, assigned to nobody

[2022-04-14 11:41] clue commented on #451
@bpolaszek Thanks for reporting and glad you've got this sorted out already!

This is useful input, I've just filed #452 to add some documentation to make sure the `close` event is easier to find in the future :+1:

Regarding exposing the connection instance to access connection properties such as the socket addresses or TLS details, there's a similar discussion in #324, let's continue this discus

[2022-04-14 20:24] valzargaming commented on #99
Are there any plans to support HTTP/3?

[2022-04-15 09:39] clue commented on #99
@valzargaming I can definitely see us implementing HTTP/3 in the future, but baby steps first! In the meantime, using a reverse proxy to handle HTTP/2 and HTTP/3 is perfectly reasonable for many uses, but we definitely welcome contributions to help us land full support here as well :+1:

[2022-05-09 10:38] bartvanhoutte opened #453 "Streaming HTTP requests & awaiting promises"
_Rather unsure on where to post this because it involves streams, async/await, the event loop and http libraries, so don't hesitate to tell me to move it somewhere else._

Currently, I'm trying to pass on a readable stream from a server request to a HTTP client. However, whenever you call `await` before passing on the stream*, the stream receives data in the event loop and is closed before the HTT

[2022-05-10 08:38] SimonFrings commented on #453
Hey @bartvanhoutte

There could be two reasons for that:
1. Your incoming stream could be empty and closes immediately, because there is nothing to do.
2. Your incoming stream receives data, you sleep for one second and at the same time your stream already received all data and closes, which leads to loosing all data.

You could try to buffer everything and see if you receive data as a first step

[2022-05-10 08:58] bartvanhoutte commented on #453
Hi @SimonFrings

what happens is what you describe in case 2. When calling `await` control is turned over to the Loop, calling `stream_select`, reading data from the stream and eventually closing it.

Buffering the data beats the purpose of using a stream in my case. Is there a way to tell the loop to pause the stream after parsing headers or something like that?

[2022-05-10 14:33] clue commented on #453
@bartvanhoutte A stream is by definition something that happens over a period of time. If you want to do something "in between", you have to manage the stream flow using explicit instructions. For this, you can `pause()` and `resume()` the input stream at any time. However, note that pausing is advisory only and there may be some bytes still left in incoming receive buffer that will still be emitt

[2022-05-10 14:33] #453 closed, assigned to nobody

[2022-05-14 12:05] clue opened #455 "Improve performance by avoiding unneeded syscalls"
This project has some potential for additional performance improvements by avoiding a number of unneeded syscalls. These low-level system calls are usually issued as a result of some higher-level PHP function call and have a noticeable performance impact in many cases. Some of these calls are the result of invocations inside this project, some are actually issued lower-level in the Socket or Strea

[2022-05-14 16:03] WyriHaximus commented on #455
Do you have an estimation of how many requests per second or percentage increase this will yield?

[2022-05-14 16:55] clue commented on #455
Still working out the details, but preliminary benchmark results suggest some noticeable improvements from 19810 req/s to 25032 req/s for the above example on my machine 🔥

[2022-05-14 16:57] clue commented on #455
Still working out the details, but preliminary benchmark results suggest some noticeable improvements from 19810 req/s to 25032 req/s for the above example on my machine 🔥

[2022-05-15 09:41] WyriHaximus commented on #455
Nice, that is indeed worth eliminating them!

Something we could consider is making populating `$request->getServerParams()` optional through configuration.

[2022-05-19 14:54] bartvanhoutte opened #456 "Server: header size exceeded when streaming request"
👋 When streaming a large request (7MB jpg) I get the following error: `OverflowException: Maximum header size of 8192 exceeded. in /opt/project/vendor/react/http/src/Io/RequestHeaderParser.php:43`.

The error can be reproduced with the following snippet:

[code]

I'm using `react/http 1.6.0`.

I'm trying to understand what goes on behind the curtain but can't quite figure it out. The listener that

[2022-05-19 15:02] bartvanhoutte commented on #456
Aaah, this is probably because I'm not waiting for the request stream to close which means the remaining incoming data will be viewed as a new request!

[2022-05-19 15:02] #456 closed, assigned to nobody

[2022-05-19 15:08] bartvanhoutte commented on #456
@clue If the above is correct, would you like me to file a PR to improve documentation?

[2022-05-20 11:34] clue commented on #456
@bartvanhoutte Yes, this appears to be what's going on. I agree that depending on how you look at it, it could be seen as a feature request or bug or simply lack of documentation. If you find a way to improve this, we definitely welcome PRs! :shipit:

That said, it looks like you ran into this while looking for better ways to handle (large) file uploads. This is something I'm currently working on

[2022-05-20 12:52] bartvanhoutte commented on #428
@clue I've also been looking into handling file uploads through streaming for the last couple of days but I must admit it is a very hard problem to solve.

Mainly the biggest issue is handling the stream flow while doing any asynchronous I/O. At a certain point while handling the request you might want to check the filesystem or database to see if the file already exists, which causes issues with

[2022-05-20 14:44] clue commented on #428
Agree with your analysis and the fact that this is both surprisingly complex and that it most likely requires some kind of filesystem integration for temporary files. I've started looking into this for some private projects a while ago, a more generic solution is definitely on the roadmap, but requires non-trivial effort.

[2022-05-24 15:57] bartvanhoutte commented on #449
👋 Unsetting a default header, would that happen through

[code]

or

[code]
What do you think?

[2022-05-24 22:07] clue commented on #449
@bartvanhoutte The idea is definitely to keep this in line with our existing interfaces. In particular, PSR-7 (HTTP messages) already define a `withoutHeader()` method, so I would absolutely go for this as well here :+1:

[2022-06-02 15:54] bartvanhoutte commented on #428
I have been looking into this a bit more, there's still some hurdles left but I think it should be doable. Just a couple of things to think about, YMMV.

The main issue is avoiding any I/O while receiving incoming data:
* A temporary filesystem can be created on startup of the `HttpServer` and destroyed on shutdown, avoiding some I/O while invoking the request handler. A fallback for when the serv

[2022-06-03 11:59] clue commented on #428
The filesystem is inherently blocking while ReactPHP is entirely non-blocking, so any solution we're going to come up with is going to involve some non-trivial effort. Most commonly, blocking filesystem calls can be avoided by using thread pools (not available in PHP without custom extensions and a ZTS build which is rare) or process pools (available out of the box, but incurs significant overhead

[2022-06-03 12:25] bartvanhoutte commented on #428
I should have added in my previous reply that for starters I'd got for an implementation using libuv for now 😅

Does this include filesystem access using libuv from the perspective of the event loop? I'm not sure what to make of the following statement in the libuv documentation found at http://docs.libuv.org/en/v1.x/design.html#file-i-o. The prototyping I've done described in the previous comment

[2022-07-25 10:32] maituduy opened #462 "Download large data from browser"
Hi there,
I tried to send large data to stream response, but when I send request from browser,
the browser didn't open file dialog download until method ```$stream->end()``` was called.
Can someone please give me a simple example on how I'm supposed to open file dialog download the moment the method ```$stream->write($chunk)``` call, like ```echo($chunk); ob_flush();``` in apache ?
Many thanks!

[

[2022-08-02 09:08] SimonFrings commented on #462
Hey @maituduy, thanks for bringing this up :+1:

As the [documentation for the `ThroughStream` class](https://github.com/reactphp/stream#throughstream) says, it passes any data you write to it through to its readable end. That means you already wrote all the data when you get to your `$stream->end();` which results in `$stream` being empty.

Also note that if the example above worked as you expect

[2022-08-05 18:21] quazardous opened #463 "Exemple of requestStreaming() with request AND response non blocking streaming"
Can someone provide an exemple of stream request chain/pipe with an HTTP server using `requestStreaming` (?)

[2022-08-06 13:07] quazardous commented on #463
I mean i'm working on a non blocking feed API that can stream process a feed. But I'm not sure the actual browser is able to upload a feed requet while starting to stream download the response.

[2022-08-08 09:37] SimonFrings commented on #463
Hey @quazardous

You can take a look at the [streaming request](https://github.com/reactphp/http#streaming-request) and the [streaming response](https://github.com/reactphp/http#streaming-response) chapter inside our documentation.

Does this help to get you started?

[2022-08-09 10:10] quazardous commented on #463
thx, I did a mix of the 2

[code]

In fact I had a problem on the server part.

I'm sharing it.

The server (written with react http) has a read timeout feature on the connection stream (to drop inactives requests). And in some case when the stream chain is taking too much time the read timeout is triggered even though there is data in the output/write queue waiting to be send back to the browser/

[2022-08-10 11:16] SimonFrings commented on #463
@quazardous Glad you like the project 👍

I made similar experiences. Always keep in mind that your code doesn't need to be perfect right away, first make it work and then polish the details.

[2022-08-10 16:30] clue commented on #463
I believe this has been answered, good progress! Please come back with more details if this problem persists and we can always reopen this :+1:

[2022-08-10 16:30] #463 closed, assigned to nobody

[2022-08-22 18:11] #455 closed, assigned to nobody

[2022-08-23 12:27] clue commented on #455
Closed via #457 and #467.

Remaining syscall optimizations will be done in stream and socket components and will be linked against this one.

[2022-08-24 14:48] tlaverdure commented on #39
@clue is there an example of this implementation somewhere?

[2022-08-26 12:06] clue commented on #462
I'll assume this is resolved and will close this for now, please feel free to report back otherwise :+1:

[2022-08-26 12:06] #462 closed, assigned to nobody

[2022-08-26 12:32] clue opened #468 "HTTP client: Support persistent connections (aka HTTP/1.1 Keep-Alive)"
We should support persistent connections (aka HTTP/1.1 Keep-Alive) also for the client side. This suggests major performance improvements, especially when sending a lot of requests to the same remote host via HTTPS. I've implemented keep-alive support for the server side via #405, so we should apply similar logic also for the client side:

Once a complete response is received, we should put the no

[2022-08-26 12:37] clue commented on #39
@tlaverdure Good catch. This ticket here was created before we've added the HTTP client implementation (#368), so this used to focus on the server side only (resolved via #405). I've just created #468 to keep track of HTTP keep-alive for the client side. Let's move the discussion over there, any contribution is welcome!

[2022-08-26 13:27] clue commented on #445
Providing an API to set and retrieve cookies isn't really too hard, but we'd also have to take persistence into consideration. I don't think there's an agreed upon standard, but the Netscape cookie file format used by curl seems to be a decent contender.

[code]

Some useful pointers:

* WIP cookie RFC https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-rfc6265bis and CVE-2022-36032
* https:/

[2022-08-27 10:01] WyriHaximus commented on #468
Had a look at this as well recently, and I think the best way forward is to try and split up each step because otherwise, the diff will be massive and hard to follow.

[2022-09-07 07:44] omar391 opened #470 "[Question] How to convert "Psr\Http\Message\StreamInterface" to "React\Stream\ReadableStreamInterface""
Dear Team,

I am working on a scenario (multipart upload request in Apache server) where I need to convert a `Nyholm\Psr7\Stream`, a type of `Psr\Http\Message\StreamInterface` into a `React\Stream\ReadableStreamInterface` type. After looking around I could not find a viable solution.

Can you please show me a direction? Thanks in advance!

[2022-09-08 05:18] omar391 commented on #470
Update: Custom changes in this lib: https://docs.php-http.org/en/latest/components/multipart-stream-builder.html solves my problem.

[2022-09-08 05:18] #470 closed, assigned to nobody

[2022-09-15 06:33] clue commented on #449
Closed via #461 :shipit:

[2022-09-15 06:33] #449 closed, assigned to nobody

[2022-10-05 13:41] quazardous opened #474 "HTTP client: streamed request not triggering drain (perhaps)"
I'm using the browser http client against a react http server that sends and receives NDJson feeds in a stream to stream fashion (like a packet of Json query for the DB that stands behind, the DB handle each query and feeds the results).

But at one point the input stream is paused by the request stream but the input stream is never resumed (the drain event is not triggered). I've stripped and sor

[2022-10-11 07:07] SimonFrings commented on #474
Hey @quazardous, thanks fro bringing this up :+1:

Seems like a win for me if it is working, right?

You presented a lot of code in here, can you narrow your example down to the problem you're seeing and point out the part of the code that is affected?

[2022-10-11 07:39] quazardous commented on #474
yes it's in preprod stage right now. but the fact that the stream is told to pause by the request but never told to resume is bothering me (a little).

the "blockage" is inside `requestStreaming()`.
[code]
There is a pipe somewhere linking $body to the HTTP request stream.
The HTTP stream is consuming the generator and at some point it stops.
The HTTP request stream calls `$this->input->pause()` b

[2022-10-12 09:47] SimonFrings commented on #474
This either sounds like something weird is happening in ReactPHP or there's some weird behavior in your big example above (always hard to figure this out in bigger code examples tho). Maybe it is worth trying to reproduce this step in a smaller example, this way we either see the same behavior or the successful outcome.

[2022-10-17 12:17] WyriHaximus opened #476 "Preserve method on redirect"

[2022-10-17 12:19] WyriHaximus commented on #476
Closing as duplicate of #442

[2022-10-17 12:19] #476 closed, assigned to nobody

[2022-10-24 09:06] fritz-gerneth commented on #214
We are running into the same issue over here now. Some other application sets rather large cookies (30kb+) on the domain root,  we kind of are forced to receive (running on a subdomain).

If you're ok with it, I'd submit a PR implementing the solution outlined by @Manuelacosta98 :

[2022-10-26 13:57] SimonFrings commented on #214
@fritz-gerneth Sounds good, we're always happy about PRs. I could imagine that this involves some bigger adjustments, but if you have a good solution in your mind, I am happy to take a look 👍

[2022-10-27 10:06] yyydevf opened #477 "Memory leak?"
Memory leaks on every request

[code]

[code]

And log of this:
[code]

[2022-10-27 10:07] yyydevf commented on #477
Looks like [this](https://github.com/reactphp/http/issues/289)

[2022-10-29 17:58] #409 closed

[2022-10-29 18:42] WyriHaximus commented on #477
Yes, that code seems perfectly set up to create a memory leak as that will never actually make a request until the for loop ends and the event loop start to run. Let me walk through the code:

Create browser, cool we need that later.

Create for loop, also cool because we want to make a lot of requests.

Sweet we're queueing up a request and assigning the promise that comes from it to `$res`. (Whi

[2022-10-29 18:50] WyriHaximus commented on #214
@clue We might have to consider configuration middleware or something at this point. Or a configuration object one can pass into the server class to configure certain things.

[2022-10-30 04:14] yyydevf commented on #477
Hello, @WyriHaximus  thanks for reply.

Now i tested it with https://reactphp.org/promise-timer/#sleep and it works as expected.
[code]

[code]
I was well aware that sending a lot of requests without any delay would cause a memory leak, but a shortage of it, so I added sleep, also realizing that this would block the stream.
Of course, sleep will not be needed in a real application, I was just tryi

[2022-10-30 13:15] WyriHaximus commented on #477
Try this:

[code]

Not sure why you wanted a sleep in there so I just kept it. The moment this script now hits await it will start the event loop and sets everything in motion. The HTTP request you made will start etc. And each `for` loop iteration will start a new HTTP request, and those run in parallel to eachother in the same event loop.

[2022-10-31 10:29] SimonFrings commented on #99
It seems like this ticket is open for quite a while now. I want to avoid issues and pull request laying around for too long, but this depends on each topic. I think HTTP/2 support will come in the future, but I don't think there's something scheduled yet.

With that said we could close this ticket for now and reopen it once there are more detailed plans for HTTP/2 support, or we could leave it ope

[2022-10-31 12:10] WyriHaximus commented on #99
IMHO we still want to do this but need to do some internal refactoring first. It is very much on my list of things to add.

[2022-11-01 03:39] yyydevf commented on #477
I was just trying to repeat the situation with a lot of requests
I think sending a lot of requests without any delay would cause a memory shortage

[2022-11-01 15:20] WyriHaximus commented on #477
Well yes, that is correct, removing it will just run it out of memory before anything happens because there is no source of reason for making the request beyond wanting to do them.

[2022-11-04 12:12] SimonFrings commented on #477
Hey @yyydevf, thanks for bringing this up :+1:

I can say from the beginning that in a normal, synchronous environment your code example looks fine, so let me tell you a bit about how ReactPHP works is executing your example.

[code]

In a synchronous workflow you send out your request to `google.com`, wait for an answer  (let's assume sending a request and receiving an answer takes up 100 ms), th

[2022-11-08 10:22] fritz-gerneth commented on #214
Should this then be merged with the `StreamingRequestMiddleware` (in a BC way)?

[2022-11-16 18:42] clue commented on #477
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can always reopen this :+1:

[2022-11-16 18:42] #477 closed, assigned to nobody

[2022-11-17 17:12] clue commented on #468
Small progress update: I've started working on this again a couple of weeks ago and have made some good progress already: I'll file some PRs to refactor some of the existing logic the next couple of days to break up some of the existing coupling and prepare getting more control over connection handling. I'm hoping to sort out connection reuse the next weeks once this is merged. :shipit:

[2022-11-17 17:20] WyriHaximus commented on #468
Awesome, great to hear that!

[2022-11-23 12:06] clue commented on #474
I'm closing this for now as it hasn't received any input in a while and we can not currently reproduce this. Please come back with more details if this problem persists and we can always reopen this :+1:

[2022-11-23 12:06] #474 closed, assigned to nobody

[2022-11-26 18:14] WyriHaximus commented on #214
Or a new middleware perhaps